<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2>Team Name: <%=@team%></h2>
   <h2>Coach:&nbsp<%=@coach%></h2>
   <h2>Point Gaurd:&nbsp<%=@pg%></h2>
   <h2>Shooting Gaurd:&nbsp<%=@sg%></h2>
   <h2>Small Forward:&nbsp<%=@sf%></h2>
   <h2>Poward Forward:&nbsp<%=@pf%></h2>
   <h2>Center:&nbsp<%=@center%></h2>

 </body>
</html>
